main {
	margin: 0 10%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a {
	font-family: monospace;
	color: #000;
	font-size: 1.5em;
}

input {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: rgba(0, 0, 0, 0.5);
	font-size: 1em;
	margin-bottom: 2%;
	width: 50%;
}

@media screen and (max-width: 850px) {
	input {
		width: 80%;
	}
}

.ico {
	padding: 2% 2%;
	filter: opacity(0.75);
}

.icons {
	margin: 2% 5% 5%;
}
