main {
	margin: 0 10%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a {
	font-family: monospace;
	color: #000;
	font-size: 1.5em;
}

.clock {
	font-size: 5em;
}

.time-area > * {
	margin: 0;
}

.time-area {
	margin-bottom: 1rem;
}

.ampm {
	opacity: 0.75;
}

.date-str {
	font-size: 2em;
	opacity: 0.75;
}

.greeting {
	font-size: 2em;
	opacity: 0.5;
}

.td {
	padding: 1% 1%;
	width: auto;
	transition: 0.2s background ease;
}

.td:hover {
	cursor: pointer;
	background: #393131;
	color: #e3c3c3;
}

.td-done {
	text-decoration: line-through;
	opacity: 0.5;
}

.td-todo {
	text-decoration: none;
}

.todo-controls {
	margin: 0.5rem 0 1rem;
}

input {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: rgba(0, 0, 0, 0.5);
	font-size: 1em;
	margin-bottom: 2%;
	width: 50%;
}

@media screen and (max-width: 850px) {
	input {
		width: 80%;
	}
}

.clear-todos {
	cursor: pointer;
	font-family: monospace;
	text-decoration: underline;
}

.ico {
	padding: 2% 2%;
	filter: opacity(0.75);
}

.icons {
	margin: 2% 5% 5%;
}
