.dd-content {
	position: absolute;
	z-index: 1;
	display: block;
	/* padding: 1% 1%; */
	width: 100%;
	/* background-color: #f2f1c2; */
	background-color: #d99090;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.dd-content p {
	padding: 2% 2%;
	margin: 0% 0%;
	word-wrap: break-word;
	transition: 0.25s ease background-color;
}

.dd-content p:hover {
	cursor: pointer;
	background-color: #fff;
}

.dd-content p:last-of-type {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 50%;
}

@media screen and (max-width: 850px) {
	.dropdown {
		width: 80%;
	}
}

input.search {
	width: 100%;
	margin-bottom: 0;
}
